body{
	background-color:beige;
}
@media screen and (max-width: 600px){
    body {
      background-color: grey;
    }
  }
  @media screen and (max-width: 200px) {
    body {
      background-color:whitesmoke;
    }
  }

h1{
	text-align: center;
	font-family:Times New Roman;
	font-size: 70px;
  	color:#D2691E;
  	padding: 70px;
  	


}
ul{
    list-style-type: none;
  margin: 0;
  padding: 0;
  color:beige;
}
ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: beige;
  color: #D2691E;
}


nav{
  background-color:#D2691E;
  font-size: 18px;
  font-weight: 600px;
  padding:10px;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap;  
  margin-top:-50;
 }

 h2{
  font-family:Times New Roman;
  font-size: 40px;
  color:#D2691E;
  text-align: center;
 }
 #home{
  margin-top:-50;

 }

	
#aboutme{
margin-top: 100px;
padding-top: 30px;
padding-left: 300px;
text-align:left;
font-size: 30px;
text-color:beige;
color:#D2691E;
float:left;


}

.about p{
    max-width: 800px;
    margin:auto;
    font-size:30px;
    color:#D2691E;
    float:left;
}

#project{
margin-top: 100px;
padding-left: 100px;
text-align: center;
font-size: 30px;
color:#D2691E;
float:float-left;
}
.project-grid{
    marrgin-top:30px;
    display:flex;
    justify-content: center;
    gap:25px;

}

.project-card{
    margin-top: 50px;
     background: #dba26b;
    padding: 20px 30px;
    border-radius: 12px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;

}
.project-card:hover {
    background: #a3663d;
    transform: scale(1.08);
}



#contact{
margin-top: 100px;
padding-left:1s0px;
text-align: center;
font-size: 20px;
color:#D2691E;
}


button{
 background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #D2691E;
  border-radius: 20px;
}
button:hover {
  background-color:#D2691E;
  color: white;
}
.project1, .project2, .project3 {
  width: 300px;
  height: 200px;
  background-color: #D2691E;
  border-radius: 50px;
  position:relative;
  margin: 100px;
  float:center;
}
.overlay-text{
   position: absolute;
  top: 50px;                 /* move text down */
  left: 50%;
  transform: translateX(-50%);
  color: beige;
  font-size: 24px;
  font-weight: bold;
}


img{
  margin-top: 20px;
  width:20%;
  border-radius:100%;
  float:right;
  border: 4px #D2691E;
  height:50%;
  float-right;
  }

  
  
.intro-text h1 {
    margin-bottom: 0px;
    color:#D2691E;
}

.intro-text p {
    margin-top: 0;
     color:#D2691E;
     text-align: center;
     font-size:30px;
     font-weight: bolder;
}

form{
     margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    gap: 15px;
}

input, textarea {
    padding: 15px;
    border: 2px solid #D2691E;
    border-radius: 8px;
}

input, textarea {
    padding: 15px;
    border: 2px solid #D2691E;
    border-radius: 8px;
}

footer {
    padding: 15px;
    margin-top: 40px;
    text-align: center;
    color: #D2691E;
    justify-content: center;
}
