/* GENERAL STYLING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f3f1d6;
    color: #3d2b1f;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #e6c7a6;
    text-align:center;
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #3d2b1f;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #3d2b1f;
    transition: 0.3s;
}

nav a:hover {
    color: #7c4a2d;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
}

.logo h1{
    margin-top:30px;
    padding:50px;
}

.hero-text {
    width: 55%;
}

.hero-text h1 {
    font-size: 45px;
    margin-bottom: 10px;
}

.hero-text span {
    color: #ab5f39;
    font-weight: bold;
}

.hero-text p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.6;
}

.hero-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 6px solid #ab5f39;
}

/* ABOUT SECTION */
.about {
    padding: 60px 80px;
    text-align: center;
}

.about h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.about p {
    max-width: 800px;
    margin: auto;
    line-height: 1.7;
}

/* PROJECTS */
.projects {
    padding: 60px 80px;
    text-align: center;
}

.project-grid {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.project-card {
    background: #dba26b;
    padding: 20px 30px;
    border-radius: 12px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.project-card:hover {
    background: #a3663d;
    transform: scale(1.08);
}

/* CONTACT */
.contact {
    padding: 60px 80px;
    text-align: center;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    gap: 15px;
}

input, textarea {
    padding: 15px;
    border: 2px solid #c58d63;
    border-radius: 8px;
}

button {
    padding: 12px;
    background: #ab5f39;
    border: none;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #7c4a2d;
}

/* FOOTER */
footer {
    padding: 15px;
    margin-top: 40px;
    text-align: center;
    background: #e6c7a6;
    color: #3d2b1f;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        width: 100%;
        margin-bottom: 40px;
    }
}
