body{
	background-color: beige;
}

h1{
	text-align: center;
	font-family:Times New Roman;
	font-size: 70px;
  	color:#D2691E;
  	padding: 70px;
  	box-shadow: 0 4px 10px rgba(2, 6, 14, 0.2);

}

nav{
background-color:#D2691E;
  font-size: 18px;
  font-weight: 600;
 padding:10px;
 display: flex;
  justify-content: center;
  gap: 30px; 
  padding: 20px;
  flex-wrap: wrap; 
  margin:0;
 }

	
#aboutme{
margin-top:0px;
padding-top: 30px;
padding-left: 300px;
text-align: left;
text-color:beige;
}

#project{
margin-top: 0px;
padding-left: 100px;
}

#contact{
margin-top: 0px;
padding-left:100px;

